.logo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar{
    background-color: #fff;
    border: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    
    
}

.navbar .navbar-collapse {
    text-align: center;
}

.center-pic{
    height: 400px;
    background-color:lightgray;
    text-align: center;
    padding: 50px;
}

.support { 
    background-color: white; 
    border: 2px solid black; 
    color: green; 
    padding: 5px 10px; 
    text-align: center; 
    display: inline-block; 
    font-size: 20px; 
    margin: 10px 30px; 
    cursor: pointer; 
}

.content{
    text-align: center;
    padding: 100px;
}